MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37418/missions/MissionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZkData" />
  <xs:element name="DeleteMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionID" type="xs:int" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ZkData" minOccurs="0" name="GetMissionResult" nillable="true" type="q1:Mission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="missionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMissionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ZkData" minOccurs="0" name="GetMissionByIDResult" nillable="true" type="q2:Mission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMissionInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListMissionInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ZkData" minOccurs="0" name="ListMissionInfosResult" nillable="true" type="q3:ArrayOfMission" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ZkData" minOccurs="0" name="mission" nillable="true" type="q4:Mission" />
        <xs:element minOccurs="0" name="author" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMissionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>