MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MissionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ZkData" />
      <xsd:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMissionService_DeleteMission_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMission" />
  </wsdl:message>
  <wsdl:message name="IMissionService_DeleteMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMissionResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_GetMission_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMission" />
  </wsdl:message>
  <wsdl:message name="IMissionService_GetMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissionResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_GetMissionByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMissionByID" />
  </wsdl:message>
  <wsdl:message name="IMissionService_GetMissionByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMissionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_ListMissionInfos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMissionInfos" />
  </wsdl:message>
  <wsdl:message name="IMissionService_ListMissionInfos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMissionInfosResponse" />
  </wsdl:message>
  <wsdl:message name="IMissionService_SendMission_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMission" />
  </wsdl:message>
  <wsdl:message name="IMissionService_SendMission_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMissionResponse" />
  </wsdl:message>
  <wsdl:portType name="IMissionService">
    <wsdl:operation name="DeleteMission">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissionService/DeleteMission" message="tns:IMissionService_DeleteMission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissionService/DeleteMissionResponse" message="tns:IMissionService_DeleteMission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMission">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissionService/GetMission" message="tns:IMissionService_GetMission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissionService/GetMissionResponse" message="tns:IMissionService_GetMission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMissionByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissionService/GetMissionByID" message="tns:IMissionService_GetMissionByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissionService/GetMissionByIDResponse" message="tns:IMissionService_GetMissionByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListMissionInfos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissionService/ListMissionInfos" message="tns:IMissionService_ListMissionInfos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissionService/ListMissionInfosResponse" message="tns:IMissionService_ListMissionInfos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMission">
      <wsdl:input wsaw:Action="http://tempuri.org/IMissionService/SendMission" message="tns:IMissionService_SendMission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMissionService/SendMissionResponse" message="tns:IMissionService_SendMission_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMissionService" type="tns:IMissionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteMission">
      <soap:operation soapAction="http://tempuri.org/IMissionService/DeleteMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMission">
      <soap:operation soapAction="http://tempuri.org/IMissionService/GetMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissionByID">
      <soap:operation soapAction="http://tempuri.org/IMissionService/GetMissionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMissionInfos">
      <soap:operation soapAction="http://tempuri.org/IMissionService/ListMissionInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMission">
      <soap:operation soapAction="http://tempuri.org/IMissionService/SendMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MissionService">
    <wsdl:port name="BasicHttpBinding_IMissionService" binding="tns:BasicHttpBinding_IMissionService">
      <soap:address location="http://zero-k.info/MissionService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>