MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZkData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZkData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37418/missions/MissionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="Mission">
    <xs:sequence>
      <xs:element minOccurs="0" name="MissionID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Mutator" nillable="true" type="q1:Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Image" nillable="true" type="q2:Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DownloadCount" type="xs:int" />
      <xs:element minOccurs="0" name="CreatedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopScoreLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissionEditorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpringVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
      <xs:element minOccurs="0" name="Script" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dependencies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissionSlots" nillable="true" type="tns:ArrayOfMissionSlot">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mission" nillable="true" type="tns:Mission" />
  <xs:complexType name="ArrayOfMissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissionSlot" nillable="true" type="tns:MissionSlot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissionSlot" nillable="true" type="tns:ArrayOfMissionSlot" />
  <xs:complexType name="MissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="MissionID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllyID" type="xs:int" />
      <xs:element minOccurs="0" name="IsHuman" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="AiShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AiVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissionSlot" nillable="true" type="tns:MissionSlot" />
  <xs:complexType name="ArrayOfMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mission" nillable="true" type="tns:Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMission" nillable="true" type="tns:ArrayOfMission" />
</xs:schema>