MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZkData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZkData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Linq" />
  <xs:complexType name="Mission">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissionID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Map" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Mutator" nillable="true" type="q1:Binary" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Linq" minOccurs="0" name="Image" nillable="true" type="q2:Binary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ModifiedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ScoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopScoreLine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MissionEditorVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpringVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Revision" type="xs:int" />
      <xs:element minOccurs="0" name="Script" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TokenCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CampaignID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="ModOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModRapidTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinHumans" type="xs:int" />
      <xs:element minOccurs="0" name="MaxHumans" type="xs:int" />
      <xs:element minOccurs="0" name="Resources" nillable="true" type="tns:Resource">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mission" nillable="true" type="tns:Mission" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
      <xs:element minOccurs="0" name="InternalName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeID" type="tns:ResourceType" />
      <xs:element minOccurs="0" name="LastLinkCheck" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DownloadCount" type="xs:int" />
      <xs:element minOccurs="0" name="NoLinkDownloadCount" type="xs:int" />
      <xs:element minOccurs="0" name="MissionID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ResourceDependencies" nillable="true" type="tns:ArrayOfResourceDependency">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResourceContentFiles" nillable="true" type="tns:ArrayOfResourceContentFile">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ResourceSpringHashes" nillable="true" type="tns:ArrayOfResourceSpringHash">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:simpleType name="ResourceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Map" />
      <xs:enumeration value="Mod" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResourceType" nillable="true" type="tns:ResourceType" />
  <xs:complexType name="ArrayOfResourceDependency">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceDependency" nillable="true" type="tns:ResourceDependency" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceDependency" nillable="true" type="tns:ArrayOfResourceDependency" />
  <xs:complexType name="ResourceDependency">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
      <xs:element minOccurs="0" name="NeedsInternalName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceDependency" nillable="true" type="tns:ResourceDependency" />
  <xs:complexType name="ArrayOfResourceContentFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceContentFile" nillable="true" type="tns:ResourceContentFile" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceContentFile" nillable="true" type="tns:ArrayOfResourceContentFile" />
  <xs:complexType name="ResourceContentFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
      <xs:element minOccurs="0" name="Md5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Links" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceContentFile" nillable="true" type="tns:ResourceContentFile" />
  <xs:complexType name="ArrayOfResourceSpringHash">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResourceSpringHash" nillable="true" type="tns:ResourceSpringHash" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResourceSpringHash" nillable="true" type="tns:ArrayOfResourceSpringHash" />
  <xs:complexType name="ResourceSpringHash">
    <xs:sequence>
      <xs:element minOccurs="0" name="ResourceID" type="xs:int" />
      <xs:element minOccurs="0" name="SpringVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpringHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResourceSpringHash" nillable="true" type="tns:ResourceSpringHash" />
  <xs:complexType name="ArrayOfMission">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mission" nillable="true" type="tns:Mission" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMission" nillable="true" type="tns:ArrayOfMission" />
</xs:schema>