MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlasmaShared.UnitSyncLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlasmaShared.UnitSyncLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://zero-k.info/MissionService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PlasmaShared" />
  <xs:complexType name="ArrayOfMissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissionSlot" nillable="true" type="tns:MissionSlot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissionSlot" nillable="true" type="tns:ArrayOfMissionSlot" />
  <xs:complexType name="MissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="AiShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AiVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllyID" type="xs:int" />
      <xs:element minOccurs="0" name="AllyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="IsHuman" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissionSlot" nillable="true" type="tns:MissionSlot" />
  <xs:complexType name="Mod">
    <xs:sequence>
      <xs:element name="MissionSlots" nillable="true" type="tns:ArrayOfMissionSlot" />
      <xs:element name="_x003C_ArchiveName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Checksum_x003E_k__BackingField" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Dependencies_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_x003C_Desctiption_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Game_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MissionScript_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ModAis_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAi" />
      <xs:element name="_x003C_Mutator_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Options_x003E_k__BackingField" nillable="true" type="tns:ArrayOfOption" />
      <xs:element name="_x003C_PrimaryModVersion_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShortGame_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ShortName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_SideIcons_x003E_k__BackingField" nillable="true" type="q2:ArrayOfbase64Binary" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Sides_x003E_k__BackingField" nillable="true" type="q3:ArrayOfstring" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PlasmaShared" name="_x003C_StartUnits_x003E_k__BackingField" nillable="true" type="q4:SerializableDictionaryOfstringstring" />
      <xs:element name="_x003C_UnitDefs_x003E_k__BackingField" nillable="true" type="tns:ArrayOfUnitInfo" />
      <xs:element name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mod" nillable="true" type="tns:Mod" />
  <xs:complexType name="ArrayOfAi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ai" nillable="true" type="tns:Ai" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAi" nillable="true" type="tns:ArrayOfAi" />
  <xs:complexType name="Ai">
    <xs:sequence>
      <xs:element name="_x003C_Info_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAiInfoPair" />
      <xs:element name="_x003C_Options_x003E_k__BackingField" nillable="true" type="tns:ArrayOfOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ai" nillable="true" type="tns:Ai" />
  <xs:complexType name="ArrayOfAiInfoPair">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AiInfoPair" nillable="true" type="tns:AiInfoPair" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAiInfoPair" nillable="true" type="tns:ArrayOfAiInfoPair" />
  <xs:complexType name="AiInfoPair">
    <xs:sequence>
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Key_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AiInfoPair" nillable="true" type="tns:AiInfoPair" />
  <xs:complexType name="ArrayOfOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Option" nillable="true" type="tns:Option" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOption" nillable="true" type="tns:ArrayOfOption" />
  <xs:complexType name="Option">
    <xs:sequence>
      <xs:element name="_x003C_Default_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Key_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Scope_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Section_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Step_x003E_k__BackingField" type="xs:float" />
      <xs:element name="_x003C_Style_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Type_x003E_k__BackingField" type="tns:OptionType" />
      <xs:element name="listOptions" nillable="true" type="tns:ArrayOfListOption" />
      <xs:element name="max" type="xs:float" />
      <xs:element name="min" type="xs:float" />
      <xs:element name="strMaxLen" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Option" nillable="true" type="tns:Option" />
  <xs:simpleType name="OptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="Bool" />
      <xs:enumeration value="List" />
      <xs:enumeration value="Number" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Section" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OptionType" nillable="true" type="tns:OptionType" />
  <xs:complexType name="ArrayOfListOption">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListOption" nillable="true" type="tns:ListOption" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListOption" nillable="true" type="tns:ArrayOfListOption" />
  <xs:complexType name="ListOption">
    <xs:sequence>
      <xs:element name="Description" nillable="true" type="xs:string" />
      <xs:element name="Key" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListOption" nillable="true" type="tns:ListOption" />
  <xs:complexType name="ArrayOfUnitInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitInfo" nillable="true" type="tns:UnitInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitInfo" nillable="true" type="tns:ArrayOfUnitInfo" />
  <xs:complexType name="UnitInfo">
    <xs:sequence>
      <xs:element name="_x003C_FullName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitInfo" nillable="true" type="tns:UnitInfo" />
</xs:schema>