MissionEditor/MissionEditor2/Service References/ServiceReference/MissionService44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PlasmaShared.UnitSyncLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PlasmaShared.UnitSyncLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MissionSlot" nillable="true" type="tns:MissionSlot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMissionSlot" nillable="true" type="tns:ArrayOfMissionSlot" />
  <xs:complexType name="MissionSlot">
    <xs:sequence>
      <xs:element minOccurs="0" name="AiShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AiVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AllyID" type="xs:int" />
      <xs:element minOccurs="0" name="AllyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="IsHuman" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="TeamID" type="xs:int" />
      <xs:element minOccurs="0" name="TeamName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MissionSlot" nillable="true" type="tns:MissionSlot" />
</xs:schema>