Shared/PlasmaShared/Web References/SpringieInterfaceReference/SpringieService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutohostPlayerJoined">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:BattleContext" />
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BattleContext">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AutohostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Players" type="tns:ArrayOfPlayerTeam" />
          <s:element minOccurs="0" maxOccurs="1" name="Bots" type="tns:ArrayOfBotTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerTeam" nillable="true" type="tns:PlayerTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerTeam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LobbyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpectator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBotTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BotTeam" nillable="true" type="tns:BotTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BotTeam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AllyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BotAI" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BotName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AutohostPlayerJoinedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutohostPlayerJoinedResult" type="tns:PlayerJoinResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PlayerJoinResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ForceSpec" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Kick" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="PrivateMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PublicMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BalanceTeams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:BattleContext" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BalanceTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BalanceTeamsResult" type="tns:BalanceTeamsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BalanceTeamsResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Players" type="tns:ArrayOfPlayerTeam" />
          <s:element minOccurs="0" maxOccurs="1" name="Bots" type="tns:ArrayOfBotTeam" />
          <s:element minOccurs="1" maxOccurs="1" name="DeleteBots" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CanStart" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRecommendedMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:BattleContext" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecommendedMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecommendedMapResult" type="tns:RecommendedMapResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecommendedMapResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpringieCommands" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpringBattleStartSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:BattleContext" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpringBattleStartSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpringBattleStartSetupResult" type="tns:SpringBattleStartSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SpringBattleStartSetup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ModOptions" type="tns:ArrayOfScriptKeyValuePair" />
          <s:element minOccurs="0" maxOccurs="1" name="UserParameters" type="tns:ArrayOfUserCustomParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScriptKeyValuePair" nillable="true" type="tns:ScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserCustomParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCustomParameters" nillable="true" type="tns:UserCustomParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCustomParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LobbyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSpringBattleResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="context" type="tns:BattleContext" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:BattleResult" />
            <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfBattlePlayerResult" />
            <s:element minOccurs="0" maxOccurs="1" name="extraData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BattleResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineBattleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IngameStartTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBots" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMission" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BattlePlayerResult" nillable="true" type="tns:BattlePlayerResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LobbyID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CommanderType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsIngameReady" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpectator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVictoryTeam" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LoseTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSpringBattleResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitSpringBattleResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutohostPlayerJoinedSoapIn">
    <wsdl:part name="parameters" element="tns:AutohostPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="AutohostPlayerJoinedSoapOut">
    <wsdl:part name="parameters" element="tns:AutohostPlayerJoinedResponse" />
  </wsdl:message>
  <wsdl:message name="BalanceTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:BalanceTeams" />
  </wsdl:message>
  <wsdl:message name="BalanceTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:BalanceTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecommendedMapSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecommendedMap" />
  </wsdl:message>
  <wsdl:message name="GetRecommendedMapSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecommendedMapResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetup" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetupResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResult" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResultResponse" />
  </wsdl:message>
  <wsdl:portType name="SpringieServiceSoap">
    <wsdl:operation name="AutohostPlayerJoined">
      <wsdl:input message="tns:AutohostPlayerJoinedSoapIn" />
      <wsdl:output message="tns:AutohostPlayerJoinedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <wsdl:input message="tns:BalanceTeamsSoapIn" />
      <wsdl:output message="tns:BalanceTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <wsdl:input message="tns:GetRecommendedMapSoapIn" />
      <wsdl:output message="tns:GetRecommendedMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <wsdl:input message="tns:GetSpringBattleStartSetupSoapIn" />
      <wsdl:output message="tns:GetSpringBattleStartSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <wsdl:input message="tns:SubmitSpringBattleResultSoapIn" />
      <wsdl:output message="tns:SubmitSpringBattleResultSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SpringieServiceSoap" type="tns:SpringieServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutohostPlayerJoined">
      <soap:operation soapAction="http://tempuri.org/AutohostPlayerJoined" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <soap:operation soapAction="http://tempuri.org/BalanceTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <soap:operation soapAction="http://tempuri.org/GetRecommendedMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SpringieServiceSoap12" type="tns:SpringieServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutohostPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/AutohostPlayerJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <soap12:operation soapAction="http://tempuri.org/BalanceTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <soap12:operation soapAction="http://tempuri.org/GetRecommendedMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap12:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap12:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SpringieService">
    <wsdl:port name="SpringieServiceSoap" binding="tns:SpringieServiceSoap">
      <soap:address location="http://zero-k.info/SpringieService.asmx" />
    </wsdl:port>
    <wsdl:port name="SpringieServiceSoap12" binding="tns:SpringieServiceSoap12">
      <soap12:address location="http://zero-k.info/SpringieService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>