PlanetWars/PlanetWars/Service References/ServiceReference/PlanetWarsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49426/PlanetWarsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceData" />
  <xs:element name="BuildMothershipModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="structureType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildMothershipModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="BuildMothershipModuleResult" nillable="true" type="q1:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildShip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celestialObjectID" type="xs:int" />
        <xs:element minOccurs="0" name="shipType" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="BuildShipResult" nillable="true" type="q2:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celestialObjectID" type="xs:int" />
        <xs:element minOccurs="0" name="structureTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuildStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="BuildStructureResult" nillable="true" type="q3:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="fleetShips" nillable="true" type="q4:ArrayOfShipTypeCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFleetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="CreateFleetResult" nillable="true" type="q5:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePopulationTransport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromBodyID" type="xs:int" />
        <xs:element minOccurs="0" name="toBodyID" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePopulationTransportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="CreatePopulationTransportResult" nillable="true" type="q6:TupleOfPopulationTransportCelestialObjectzDaz1WLz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FakeTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FakeTurnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="battleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBattleEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetBattleEventsResult" nillable="true" type="q7:ArrayOfEvent1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBodyEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bodyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBodyEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetBodyEventsResult" nillable="true" type="q8:ArrayOfEvent1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBodyOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBodyOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetBodyOptionsResult" nillable="true" type="q9:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginHint">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoginHintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLoginHintResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMapDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetMapDataResult" nillable="true" type="q10:StarMap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMotherhipModuleBuildOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMotherhipModuleBuildOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetMotherhipModuleBuildOptionsResult" nillable="true" type="q11:ArrayOfStructureOption" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvariants">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvariantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetInvariantsResult" nillable="true" type="q12:Invariants" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetPlayerDataResult" nillable="true" type="q13:Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetPlayerEventsResult" nillable="true" type="q14:ArrayOfEvent1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetPlayerListResult" nillable="true" type="q15:ArrayOfPlayer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarSystemEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="starSystemID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStarSystemEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetStarSystemEventsResult" nillable="true" type="q16:ArrayOfEvent1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="GetTransitsResult" nillable="true" type="q17:ArrayOfTransit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="LoginResult" type="q18:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fleetID" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="fleetShips" nillable="true" type="q19:ArrayOfShipTypeCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyFleetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="ModifyFleetResult" nillable="true" type="q20:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderFleet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fleetID" type="xs:int" />
        <xs:element minOccurs="0" name="toBodyID" type="xs:int" />
        <xs:element minOccurs="0" name="futureOffset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderFleetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="OrderFleetResult" nillable="true" type="q21:Fleet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMothership">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toBodyID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OrderMothershipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="OrderMothershipResult" nillable="true" type="q22:TupleOfPlayerCelestialObjectzDaz1WLz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="RegisterResult" type="q23:RegisterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellMotherhipModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="structureTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellMotherhipModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="SellMotherhipModuleResult" nillable="true" type="q24:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celestialObjectID" type="xs:int" />
        <xs:element minOccurs="0" name="structureTypeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SellStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ServiceData" minOccurs="0" name="SellStructureResult" nillable="true" type="q25:BodyResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirtyGameSecond">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirtyGameSecondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDirtyGameSecondResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>