ZeroKLobby/Web References/MissionService/EditorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://SpringMissionEditor/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://SpringMissionEditor/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://SpringMissionEditor/">
      <s:element name="AddComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nick" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="text" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteMission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteMissionResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetMission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMissionResult" type="tns:MissionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MissionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MissionInfo" type="tns:MissionInfo" />
          <s:element minOccurs="0" maxOccurs="1" name="Mutator" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MissionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommentCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DownloadCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="LastCommentTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Map" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MissionID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ModifiedTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Rating" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="ScoringMethod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TopScoreLine" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMissionByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMissionByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMissionByIDResult" type="tns:MissionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScoresResult" type="tns:ArrayOfScoreEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScoreEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScoreEntry" nillable="true" type="tns:ScoreEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScoreEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PlayerName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TimeSeconds" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCommentsResult" type="tns:ArrayOfCommentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCommentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommentInfo" nillable="true" type="tns:CommentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Text" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListMissionInfos">
        <s:complexType />
      </s:element>
      <s:element name="ListMissionInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListMissionInfosResult" type="tns:ArrayOfMissionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMissionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MissionInfo" nillable="true" type="tns:MissionInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="Rate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="missionID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendMission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mission" type="tns:MissionData" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMissionResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="timeSeconds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitScoreResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCommentSoapIn">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="AddCommentSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteMissionSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteMission" />
  </wsdl:message>
  <wsdl:message name="DeleteMissionSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteMissionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMissionSoapIn">
    <wsdl:part name="parameters" element="tns:GetMission" />
  </wsdl:message>
  <wsdl:message name="GetMissionSoapOut">
    <wsdl:part name="parameters" element="tns:GetMissionResponse" />
  </wsdl:message>
  <wsdl:message name="GetMissionByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetMissionByID" />
  </wsdl:message>
  <wsdl:message name="GetMissionByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetMissionByIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetScoresSoapIn">
    <wsdl:part name="parameters" element="tns:GetScores" />
  </wsdl:message>
  <wsdl:message name="GetScoresSoapOut">
    <wsdl:part name="parameters" element="tns:GetScoresResponse" />
  </wsdl:message>
  <wsdl:message name="ListCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:ListComments" />
  </wsdl:message>
  <wsdl:message name="ListCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:ListCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="ListMissionInfosSoapIn">
    <wsdl:part name="parameters" element="tns:ListMissionInfos" />
  </wsdl:message>
  <wsdl:message name="ListMissionInfosSoapOut">
    <wsdl:part name="parameters" element="tns:ListMissionInfosResponse" />
  </wsdl:message>
  <wsdl:message name="RateSoapIn">
    <wsdl:part name="parameters" element="tns:Rate" />
  </wsdl:message>
  <wsdl:message name="RateSoapOut">
    <wsdl:part name="parameters" element="tns:RateResponse" />
  </wsdl:message>
  <wsdl:message name="SendMissionSoapIn">
    <wsdl:part name="parameters" element="tns:SendMission" />
  </wsdl:message>
  <wsdl:message name="SendMissionSoapOut">
    <wsdl:part name="parameters" element="tns:SendMissionResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitScoreSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitScore" />
  </wsdl:message>
  <wsdl:message name="SubmitScoreSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="EditorServiceSoap">
    <wsdl:operation name="AddComment">
      <wsdl:input message="tns:AddCommentSoapIn" />
      <wsdl:output message="tns:AddCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMission">
      <wsdl:input message="tns:DeleteMissionSoapIn" />
      <wsdl:output message="tns:DeleteMissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMission">
      <wsdl:input message="tns:GetMissionSoapIn" />
      <wsdl:output message="tns:GetMissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMissionByID">
      <wsdl:input message="tns:GetMissionByIDSoapIn" />
      <wsdl:output message="tns:GetMissionByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <wsdl:input message="tns:GetScoresSoapIn" />
      <wsdl:output message="tns:GetScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListComments">
      <wsdl:input message="tns:ListCommentsSoapIn" />
      <wsdl:output message="tns:ListCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListMissionInfos">
      <wsdl:input message="tns:ListMissionInfosSoapIn" />
      <wsdl:output message="tns:ListMissionInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <wsdl:input message="tns:RateSoapIn" />
      <wsdl:output message="tns:RateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMission">
      <wsdl:input message="tns:SendMissionSoapIn" />
      <wsdl:output message="tns:SendMissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <wsdl:input message="tns:SubmitScoreSoapIn" />
      <wsdl:output message="tns:SubmitScoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EditorServiceSoap" type="tns:EditorServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://SpringMissionEditor/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMission">
      <soap:operation soapAction="http://SpringMissionEditor/DeleteMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMission">
      <soap:operation soapAction="http://SpringMissionEditor/GetMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissionByID">
      <soap:operation soapAction="http://SpringMissionEditor/GetMissionByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap:operation soapAction="http://SpringMissionEditor/GetScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListComments">
      <soap:operation soapAction="http://SpringMissionEditor/ListComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMissionInfos">
      <soap:operation soapAction="http://SpringMissionEditor/ListMissionInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <soap:operation soapAction="http://SpringMissionEditor/Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMission">
      <soap:operation soapAction="http://SpringMissionEditor/SendMission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <soap:operation soapAction="http://SpringMissionEditor/SubmitScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EditorServiceSoap12" type="tns:EditorServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap12:operation soapAction="http://SpringMissionEditor/AddComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMission">
      <soap12:operation soapAction="http://SpringMissionEditor/DeleteMission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMission">
      <soap12:operation soapAction="http://SpringMissionEditor/GetMission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMissionByID">
      <soap12:operation soapAction="http://SpringMissionEditor/GetMissionByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScores">
      <soap12:operation soapAction="http://SpringMissionEditor/GetScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListComments">
      <soap12:operation soapAction="http://SpringMissionEditor/ListComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListMissionInfos">
      <soap12:operation soapAction="http://SpringMissionEditor/ListMissionInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rate">
      <soap12:operation soapAction="http://SpringMissionEditor/Rate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMission">
      <soap12:operation soapAction="http://SpringMissionEditor/SendMission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitScore">
      <soap12:operation soapAction="http://SpringMissionEditor/SubmitScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EditorService">
    <wsdl:port name="EditorServiceSoap" binding="tns:EditorServiceSoap">
      <soap:address location="http://planet-wars.eu/MissionEditorServer/EditorService.asmx" />
    </wsdl:port>
    <wsdl:port name="EditorServiceSoap12" binding="tns:EditorServiceSoap12">
      <soap12:address location="http://planet-wars.eu/MissionEditorServer/EditorService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>