Shared/PlasmaShared/Web References/ContentService/ContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadFileResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="links" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="torrent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="dependencies" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceType" type="tns:ResourceType" />
            <s:element minOccurs="0" maxOccurs="1" name="torrentFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResourceType">
        <s:restriction base="s:string">
          <s:enumeration value="Map" />
          <s:enumeration value="Mod" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetResourceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceDataResult" type="tns:ResourceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResourceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Dependencies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceType" type="tns:ResourceType" />
          <s:element minOccurs="0" maxOccurs="1" name="SpringHashes" type="tns:ArrayOfSpringHashEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpringHashEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SpringHashEntry" nillable="true" type="tns:SpringHashEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpringHashEntry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SpringHash" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SpringVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpringBattleStartSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="map" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userAccountIDs" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpringBattleStartSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpringBattleStartSetupResult" type="tns:SpringBattleStartSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SpringBattleStartSetup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Players" type="tns:ArrayOfPlayerStartup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerStartup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerStartup" nillable="true" type="tns:PlayerStartup" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerStartup">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomScripKeys" type="tns:ArrayOfScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScriptKeyValuePair" nillable="true" type="tns:ScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSpringBattleResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:BattleResult" />
            <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfBattlePlayerResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BattleResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EngineBattleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Map" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMission" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBots" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BattlePlayerResult" nillable="true" type="tns:BattlePlayerResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpectator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVictoryTeam" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CommanderType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LoseTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Awards" type="tns:ArrayOfPlayerAward" />
          <s:element minOccurs="0" maxOccurs="1" name="Stats" type="tns:ArrayOfPlayerStats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerAward" nillable="true" type="tns:PlayerAward" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Award" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerStats" nillable="true" type="tns:PlayerStats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSpringBattleResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitSpringBattleResultResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lastChange" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceListResult" type="tns:ArrayOfResourceData" />
            <s:element minOccurs="1" maxOccurs="1" name="currentTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResourceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResourceData" nillable="true" type="tns:ResourceData" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetScriptMissionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScriptMissionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScriptMissionDataResult" type="tns:ScriptMissionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScriptMissionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ManualDependencies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartScript" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyMissionRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyMissionRunResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegisterResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="apiVersion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="springVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceType" type="tns:ResourceType" />
            <s:element minOccurs="0" maxOccurs="1" name="archiveName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="springHash" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="dependencies" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="minimap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="metalMap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="heightMap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="torrentData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResourceResult" type="tns:ReturnValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ReturnValue">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="InvalidLogin" />
          <s:enumeration value="ResourceNotFound" />
          <s:enumeration value="InternalNameAlreadyExistsWithDifferentSpringHash" />
          <s:enumeration value="Md5AlreadyExists" />
          <s:enumeration value="Md5AlreadyExistsWithDifferentName" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitMissionScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gameSeconds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitMissionScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitStackTrace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="programType" type="tns:ProgramType" />
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exception" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ProgramType">
        <s:restriction base="s:string">
          <s:enumeration value="MissionEditor" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitStackTraceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceData" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetup" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetupResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResult" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResultResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceList" />
  </wsdl:message>
  <wsdl:message name="GetResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetScriptMissionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetScriptMissionData" />
  </wsdl:message>
  <wsdl:message name="GetScriptMissionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetScriptMissionDataResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyMissionRun" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyMissionRunResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterResourceSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterResource" />
  </wsdl:message>
  <wsdl:message name="RegisterResourceSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResourceResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitMissionScore" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitMissionScoreResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitStackTrace" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitStackTraceResponse" />
  </wsdl:message>
  <wsdl:portType name="ContentServiceSoap">
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <wsdl:input message="tns:GetResourceDataSoapIn" />
      <wsdl:output message="tns:GetResourceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <wsdl:input message="tns:GetSpringBattleStartSetupSoapIn" />
      <wsdl:output message="tns:GetSpringBattleStartSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <wsdl:input message="tns:SubmitSpringBattleResultSoapIn" />
      <wsdl:output message="tns:SubmitSpringBattleResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <wsdl:input message="tns:GetResourceListSoapIn" />
      <wsdl:output message="tns:GetResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <wsdl:input message="tns:GetScriptMissionDataSoapIn" />
      <wsdl:output message="tns:GetScriptMissionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <wsdl:input message="tns:NotifyMissionRunSoapIn" />
      <wsdl:output message="tns:NotifyMissionRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <wsdl:input message="tns:RegisterResourceSoapIn" />
      <wsdl:output message="tns:RegisterResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <wsdl:input message="tns:SubmitMissionScoreSoapIn" />
      <wsdl:output message="tns:SubmitMissionScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <wsdl:input message="tns:SubmitStackTraceSoapIn" />
      <wsdl:output message="tns:SubmitStackTraceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentServiceSoap" type="tns:ContentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <soap:operation soapAction="http://tempuri.org/GetResourceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <soap:operation soapAction="http://tempuri.org/GetResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <soap:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <soap:operation soapAction="http://tempuri.org/RegisterResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentServiceSoap12" type="tns:ContentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <soap12:operation soapAction="http://tempuri.org/GetResourceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap12:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap12:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <soap12:operation soapAction="http://tempuri.org/GetResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <soap12:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap12:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <soap12:operation soapAction="http://tempuri.org/RegisterResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap12:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap12:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentService">
    <wsdl:port name="ContentServiceSoap" binding="tns:ContentServiceSoap">
      <soap:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentServiceSoap12" binding="tns:ContentServiceSoap12">
      <soap12:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>