Shared/PlasmaShared/Web References/ContentService/ContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AutohostPlayerJoined">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autohostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mapName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AutohostPlayerJoinedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AutohostPlayerJoinedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BalanceTeams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autoHost" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="map" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentTeams" type="tns:ArrayOfAccountTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountTeam" nillable="true" type="tns:AccountTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountTeam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Spectate" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BalanceTeamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BalanceTeamsResult" type="tns:BalanceTeamsResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BalanceTeamsResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="BalancedTeams" type="tns:ArrayOfAccountTeam" />
          <s:element minOccurs="0" maxOccurs="1" name="Bots" type="tns:ArrayOfBotTeam" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBotTeam">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BotTeam" nillable="true" type="tns:BotTeam" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BotTeam">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AllyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="BotName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TeamID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindResourceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="words" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="type" nillable="true" type="tns:ResourceType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ResourceType">
        <s:restriction base="s:string">
          <s:enumeration value="Map" />
          <s:enumeration value="Mod" />
        </s:restriction>
      </s:simpleType>
      <s:element name="FindResourceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindResourceDataResult" type="tns:ArrayOfResourceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfResourceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ResourceData" nillable="true" type="tns:ResourceData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResourceData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Dependencies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="InternalName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ResourceType" type="tns:ResourceType" />
          <s:element minOccurs="0" maxOccurs="1" name="SpringHashes" type="tns:ArrayOfSpringHashEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSpringHashEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SpringHashEntry" nillable="true" type="tns:SpringHashEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SpringHashEntry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SpringHash" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SpringVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetResourceDataByResourceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resourceID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceDataByResourceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceDataByResourceIDResult" type="tns:ResourceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceDataByInternalName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceDataByInternalNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceDataByInternalNameResult" type="tns:ResourceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DownloadFileResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="links" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="torrent" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="dependencies" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceType" type="tns:ResourceType" />
            <s:element minOccurs="0" maxOccurs="1" name="torrentFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEloByAccountID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEloByAccountIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEloByAccountIDResult" type="tns:EloInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EloInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Elo" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEloByName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEloByNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEloByNameResult" type="tns:EloInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEloTop10">
        <s:complexType />
      </s:element>
      <s:element name="GetEloTop10Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEloTop10Result" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecommendedMap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="autohostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accounts" type="tns:ArrayOfAccountTeam" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecommendedMapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecommendedMapResult" type="tns:RecommendedMapResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecommendedMapResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetResourceData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceDataResult" type="tns:ResourceData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lastChange" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResourceListResult" type="tns:ArrayOfResourceData" />
            <s:element minOccurs="1" maxOccurs="1" name="currentTime" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScriptMissionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScriptMissionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScriptMissionDataResult" type="tns:ScriptMissionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScriptMissionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ManualDependencies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartScript" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSpringBattleStartSetup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hostName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="map" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfBattleStartSetupPlayer" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="tns:AutohostMode" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBattleStartSetupPlayer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BattleStartSetupPlayer" nillable="true" type="tns:BattleStartSetupPlayer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BattleStartSetupPlayer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyTeam" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpectator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="SpringPlayerID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="AutohostMode">
        <s:restriction base="s:string">
          <s:enumeration value="Planetwars" />
          <s:enumeration value="Game1v1" />
          <s:enumeration value="GameTeams" />
          <s:enumeration value="GameFFA" />
          <s:enumeration value="GameChickens" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GetSpringBattleStartSetupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpringBattleStartSetupResult" type="tns:SpringBattleStartSetup" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SpringBattleStartSetup">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ModOptions" type="tns:ArrayOfScriptKeyValuePair" />
          <s:element minOccurs="0" maxOccurs="1" name="UserParameters" type="tns:ArrayOfUserCustomParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ScriptKeyValuePair" nillable="true" type="tns:ScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ScriptKeyValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserCustomParameters">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserCustomParameters" nillable="true" type="tns:UserCustomParameters" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UserCustomParameters">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfScriptKeyValuePair" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyMissionRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyMissionRunResponse">
        <s:complexType />
      </s:element>
      <s:element name="RegisterResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="apiVersion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="springVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="md5" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="resourceType" type="tns:ResourceType" />
            <s:element minOccurs="0" maxOccurs="1" name="archiveName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="springHash" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedData" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="dependencies" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="minimap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="metalMap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="heightMap" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="torrentData" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResourceResult" type="tns:ReturnValue" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ReturnValue">
        <s:restriction base="s:string">
          <s:enumeration value="Ok" />
          <s:enumeration value="InvalidLogin" />
          <s:enumeration value="ResourceNotFound" />
          <s:enumeration value="InternalNameAlreadyExistsWithDifferentSpringHash" />
          <s:enumeration value="Md5AlreadyExists" />
          <s:enumeration value="Md5AlreadyExistsWithDifferentName" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitMissionScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gameSeconds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitMissionScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitSpringBattleResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:BattleResult" />
            <s:element minOccurs="0" maxOccurs="1" name="players" type="tns:ArrayOfBattlePlayerResult" />
            <s:element minOccurs="0" maxOccurs="1" name="extraData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BattleResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineBattleID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EngineVersion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IngameStartTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="IsBots" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsMission" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Map" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mod" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReplayName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BattlePlayerResult" nillable="true" type="tns:BattlePlayerResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BattlePlayerResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AllyNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Awards" type="tns:ArrayOfPlayerAward" />
          <s:element minOccurs="0" maxOccurs="1" name="CommanderType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsIngameReady" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSpectator" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsVictoryTeam" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="LoseTime" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Rank" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Stats" type="tns:ArrayOfPlayerStats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerAward" nillable="true" type="tns:PlayerAward" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerAward">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Award" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPlayerStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PlayerStats" nillable="true" type="tns:PlayerStats" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PlayerStats">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitSpringBattleResultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitSpringBattleResultResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitStackTrace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="programType" type="tns:ProgramType" />
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exception" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ProgramType">
        <s:restriction base="s:string">
          <s:enumeration value="MissionEditor" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitStackTraceResponse">
        <s:complexType />
      </s:element>
      <s:element name="VerifyAccountData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAccountDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyAccountDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AutohostPlayerJoinedSoapIn">
    <wsdl:part name="parameters" element="tns:AutohostPlayerJoined" />
  </wsdl:message>
  <wsdl:message name="AutohostPlayerJoinedSoapOut">
    <wsdl:part name="parameters" element="tns:AutohostPlayerJoinedResponse" />
  </wsdl:message>
  <wsdl:message name="BalanceTeamsSoapIn">
    <wsdl:part name="parameters" element="tns:BalanceTeams" />
  </wsdl:message>
  <wsdl:message name="BalanceTeamsSoapOut">
    <wsdl:part name="parameters" element="tns:BalanceTeamsResponse" />
  </wsdl:message>
  <wsdl:message name="FindResourceDataSoapIn">
    <wsdl:part name="parameters" element="tns:FindResourceData" />
  </wsdl:message>
  <wsdl:message name="FindResourceDataSoapOut">
    <wsdl:part name="parameters" element="tns:FindResourceDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataByResourceIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceDataByResourceID" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataByResourceIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceDataByResourceIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataByInternalNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceDataByInternalName" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataByInternalNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceDataByInternalNameResponse" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:DownloadFile" />
  </wsdl:message>
  <wsdl:message name="DownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:DownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetEloByAccountIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetEloByAccountID" />
  </wsdl:message>
  <wsdl:message name="GetEloByAccountIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetEloByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetEloByNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetEloByName" />
  </wsdl:message>
  <wsdl:message name="GetEloByNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetEloByNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetEloTop10SoapIn">
    <wsdl:part name="parameters" element="tns:GetEloTop10" />
  </wsdl:message>
  <wsdl:message name="GetEloTop10SoapOut">
    <wsdl:part name="parameters" element="tns:GetEloTop10Response" />
  </wsdl:message>
  <wsdl:message name="GetRecommendedMapSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecommendedMap" />
  </wsdl:message>
  <wsdl:message name="GetRecommendedMapSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecommendedMapResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceData" />
  </wsdl:message>
  <wsdl:message name="GetResourceDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetResourceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetResourceList" />
  </wsdl:message>
  <wsdl:message name="GetResourceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetScriptMissionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetScriptMissionData" />
  </wsdl:message>
  <wsdl:message name="GetScriptMissionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetScriptMissionDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetup" />
  </wsdl:message>
  <wsdl:message name="GetSpringBattleStartSetupSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpringBattleStartSetupResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyMissionRun" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyMissionRunResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterResourceSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterResource" />
  </wsdl:message>
  <wsdl:message name="RegisterResourceSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResourceResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitMissionScore" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitMissionScoreResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResult" />
  </wsdl:message>
  <wsdl:message name="SubmitSpringBattleResultSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitSpringBattleResultResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitStackTrace" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitStackTraceResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyAccountDataSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAccountData" />
  </wsdl:message>
  <wsdl:message name="VerifyAccountDataSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAccountDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ContentServiceSoap">
    <wsdl:operation name="AutohostPlayerJoined">
      <wsdl:input message="tns:AutohostPlayerJoinedSoapIn" />
      <wsdl:output message="tns:AutohostPlayerJoinedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <wsdl:input message="tns:BalanceTeamsSoapIn" />
      <wsdl:output message="tns:BalanceTeamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindResourceData">
      <wsdl:input message="tns:FindResourceDataSoapIn" />
      <wsdl:output message="tns:FindResourceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByResourceID">
      <wsdl:input message="tns:GetResourceDataByResourceIDSoapIn" />
      <wsdl:output message="tns:GetResourceDataByResourceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByInternalName">
      <wsdl:input message="tns:GetResourceDataByInternalNameSoapIn" />
      <wsdl:output message="tns:GetResourceDataByInternalNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <wsdl:input message="tns:DownloadFileSoapIn" />
      <wsdl:output message="tns:DownloadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEloByAccountID">
      <wsdl:input message="tns:GetEloByAccountIDSoapIn" />
      <wsdl:output message="tns:GetEloByAccountIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEloByName">
      <wsdl:input message="tns:GetEloByNameSoapIn" />
      <wsdl:output message="tns:GetEloByNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEloTop10">
      <wsdl:input message="tns:GetEloTop10SoapIn" />
      <wsdl:output message="tns:GetEloTop10SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <wsdl:input message="tns:GetRecommendedMapSoapIn" />
      <wsdl:output message="tns:GetRecommendedMapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <wsdl:input message="tns:GetResourceDataSoapIn" />
      <wsdl:output message="tns:GetResourceDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <wsdl:input message="tns:GetResourceListSoapIn" />
      <wsdl:output message="tns:GetResourceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <wsdl:input message="tns:GetScriptMissionDataSoapIn" />
      <wsdl:output message="tns:GetScriptMissionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <wsdl:input message="tns:GetSpringBattleStartSetupSoapIn" />
      <wsdl:output message="tns:GetSpringBattleStartSetupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <wsdl:input message="tns:NotifyMissionRunSoapIn" />
      <wsdl:output message="tns:NotifyMissionRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <wsdl:input message="tns:RegisterResourceSoapIn" />
      <wsdl:output message="tns:RegisterResourceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <wsdl:input message="tns:SubmitMissionScoreSoapIn" />
      <wsdl:output message="tns:SubmitMissionScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <wsdl:input message="tns:SubmitSpringBattleResultSoapIn" />
      <wsdl:output message="tns:SubmitSpringBattleResultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <wsdl:input message="tns:SubmitStackTraceSoapIn" />
      <wsdl:output message="tns:SubmitStackTraceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccountData">
      <wsdl:input message="tns:VerifyAccountDataSoapIn" />
      <wsdl:output message="tns:VerifyAccountDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentServiceSoap" type="tns:ContentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutohostPlayerJoined">
      <soap:operation soapAction="http://tempuri.org/AutohostPlayerJoined" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <soap:operation soapAction="http://tempuri.org/BalanceTeams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindResourceData">
      <soap:operation soapAction="http://tempuri.org/FindResourceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByResourceID">
      <soap:operation soapAction="http://tempuri.org/GetResourceDataByResourceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByInternalName">
      <soap:operation soapAction="http://tempuri.org/GetResourceDataByInternalName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloByAccountID">
      <soap:operation soapAction="http://tempuri.org/GetEloByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloByName">
      <soap:operation soapAction="http://tempuri.org/GetEloByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloTop10">
      <soap:operation soapAction="http://tempuri.org/GetEloTop10" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <soap:operation soapAction="http://tempuri.org/GetRecommendedMap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <soap:operation soapAction="http://tempuri.org/GetResourceData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <soap:operation soapAction="http://tempuri.org/GetResourceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <soap:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <soap:operation soapAction="http://tempuri.org/RegisterResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccountData">
      <soap:operation soapAction="http://tempuri.org/VerifyAccountData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentServiceSoap12" type="tns:ContentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AutohostPlayerJoined">
      <soap12:operation soapAction="http://tempuri.org/AutohostPlayerJoined" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BalanceTeams">
      <soap12:operation soapAction="http://tempuri.org/BalanceTeams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindResourceData">
      <soap12:operation soapAction="http://tempuri.org/FindResourceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByResourceID">
      <soap12:operation soapAction="http://tempuri.org/GetResourceDataByResourceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDataByInternalName">
      <soap12:operation soapAction="http://tempuri.org/GetResourceDataByInternalName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownloadFile">
      <soap12:operation soapAction="http://tempuri.org/DownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloByAccountID">
      <soap12:operation soapAction="http://tempuri.org/GetEloByAccountID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloByName">
      <soap12:operation soapAction="http://tempuri.org/GetEloByName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEloTop10">
      <soap12:operation soapAction="http://tempuri.org/GetEloTop10" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecommendedMap">
      <soap12:operation soapAction="http://tempuri.org/GetRecommendedMap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceData">
      <soap12:operation soapAction="http://tempuri.org/GetResourceData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceList">
      <soap12:operation soapAction="http://tempuri.org/GetResourceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScriptMissionData">
      <soap12:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpringBattleStartSetup">
      <soap12:operation soapAction="http://tempuri.org/GetSpringBattleStartSetup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap12:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterResource">
      <soap12:operation soapAction="http://tempuri.org/RegisterResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap12:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitSpringBattleResult">
      <soap12:operation soapAction="http://tempuri.org/SubmitSpringBattleResult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap12:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccountData">
      <soap12:operation soapAction="http://tempuri.org/VerifyAccountData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentService">
    <wsdl:port name="ContentServiceSoap" binding="tns:ContentServiceSoap">
      <soap:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentServiceSoap12" binding="tns:ContentServiceSoap12">
      <soap12:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>