Shared/PlasmaShared/Web References/ContentService/ContentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetScriptMissionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScriptMissionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScriptMissionDataResult" type="tns:ScriptMissionData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ScriptMissionData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ManualDependencies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="MapName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ModTag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StartScript" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="NotifyMissionRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotifyMissionRunResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitMissionScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordHash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="missionName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="score" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gameSeconds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitMissionScoreResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitStackTrace">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="programType" type="tns:ProgramType" />
            <s:element minOccurs="0" maxOccurs="1" name="playerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="exception" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extraData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="programVersion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="ProgramType">
        <s:restriction base="s:string">
          <s:enumeration value="MissionEditor" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SubmitStackTraceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScriptMissionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetScriptMissionData" />
  </wsdl:message>
  <wsdl:message name="GetScriptMissionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetScriptMissionDataResponse" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapIn">
    <wsdl:part name="parameters" element="tns:NotifyMissionRun" />
  </wsdl:message>
  <wsdl:message name="NotifyMissionRunSoapOut">
    <wsdl:part name="parameters" element="tns:NotifyMissionRunResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitMissionScore" />
  </wsdl:message>
  <wsdl:message name="SubmitMissionScoreSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitMissionScoreResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitStackTrace" />
  </wsdl:message>
  <wsdl:message name="SubmitStackTraceSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitStackTraceResponse" />
  </wsdl:message>
  <wsdl:portType name="ContentServiceSoap">
    <wsdl:operation name="GetScriptMissionData">
      <wsdl:input message="tns:GetScriptMissionDataSoapIn" />
      <wsdl:output message="tns:GetScriptMissionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <wsdl:input message="tns:NotifyMissionRunSoapIn" />
      <wsdl:output message="tns:NotifyMissionRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <wsdl:input message="tns:SubmitMissionScoreSoapIn" />
      <wsdl:output message="tns:SubmitMissionScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <wsdl:input message="tns:SubmitStackTraceSoapIn" />
      <wsdl:output message="tns:SubmitStackTraceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentServiceSoap" type="tns:ContentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScriptMissionData">
      <soap:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentServiceSoap12" type="tns:ContentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScriptMissionData">
      <soap12:operation soapAction="http://tempuri.org/GetScriptMissionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyMissionRun">
      <soap12:operation soapAction="http://tempuri.org/NotifyMissionRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMissionScore">
      <soap12:operation soapAction="http://tempuri.org/SubmitMissionScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitStackTrace">
      <soap12:operation soapAction="http://tempuri.org/SubmitStackTrace" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentService">
    <wsdl:port name="ContentServiceSoap" binding="tns:ContentServiceSoap">
      <soap:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentServiceSoap12" binding="tns:ContentServiceSoap12">
      <soap12:address location="http://zero-k.info/ContentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>