ZeroKLobby/Web References/ModStats/StatsCollector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://planet-wars.eu/ModStats" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://planet-wars.eu/ModStats" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://planet-wars.eu/ModStats">
      <s:element name="SubmitGame">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gameIDString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SubmitGameResponse">
        <s:complexType />
      </s:element>
      <s:element name="SubmitGameEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="gameIDString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mod" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="map" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitGameExResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitGameSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitGame" />
  </wsdl:message>
  <wsdl:message name="SubmitGameSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitGameResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitGameExSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitGameEx" />
  </wsdl:message>
  <wsdl:message name="SubmitGameExSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitGameExResponse" />
  </wsdl:message>
  <wsdl:portType name="StatsCollectorSoap">
    <wsdl:operation name="SubmitGame">
      <wsdl:input message="tns:SubmitGameSoapIn" />
      <wsdl:output message="tns:SubmitGameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitGameEx">
      <wsdl:input message="tns:SubmitGameExSoapIn" />
      <wsdl:output message="tns:SubmitGameExSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StatsCollectorSoap" type="tns:StatsCollectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitGame">
      <soap:operation soapAction="http://planet-wars.eu/ModStats/SubmitGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGameEx">
      <soap:operation soapAction="http://planet-wars.eu/ModStats/SubmitGameEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="StatsCollectorSoap12" type="tns:StatsCollectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitGame">
      <soap12:operation soapAction="http://planet-wars.eu/ModStats/SubmitGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitGameEx">
      <soap12:operation soapAction="http://planet-wars.eu/ModStats/SubmitGameEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StatsCollector">
    <wsdl:port name="StatsCollectorSoap" binding="tns:StatsCollectorSoap">
      <soap:address location="http://planet-wars.eu/ModStats/StatsCollector.asmx" />
    </wsdl:port>
    <wsdl:port name="StatsCollectorSoap12" binding="tns:StatsCollectorSoap12">
      <soap12:address location="http://planet-wars.eu/ModStats/StatsCollector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>